{{ header }}{{ navigation }}
<!--Main layout-->
<main style="margin-top: 58px" class="pt-3">
  <div class="container-fluid">
	{% if error_warning %}
	  <div class="alert alert-dismissible fade show" role="alert" data-mdb-color="danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
		<button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
	  </div>
	{% endif %}
	{% if success %}
	  <div class="alert alert-dismissible fade show" role="alert" data-mdb-color="success"><i class="fa fa-exclamation-circle"></i> {{ success }}
		<button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
	  </div>
	{% endif %}
	{% for product_category in product_categories %}
	<div class="mt-3">
	  <select class="select" data-mdb-filter="true" name="{{ product_category.category_id }}" class="form-control">
		<option value="0">{{ text_select }}</option>
	    {% for pieseauto_category in pieseauto_categories %}
		<option value="{{ pieseauto_category.pieseauto_category_id }}"{% if pieseauto_category.pieseauto_category_id == product_category_2_pieseauto_category[product_category.category_id] %} selected{% endif %}>{{ pieseauto_category.pieseauto_category }}</option>
		{% endfor %}
	  </select>
	  <label class="form-label select-label">{{ product_category.path }}</label>
	</div>
	{% endfor %}
	<div class="row mt-3">
	  <div class="col-sm-6 text-start">{{ pagination }}</div>
	  <div class="col-sm-6 text-end">{{ results }}</div>
	</div>
  </div>
</main>
{{ footer }}
<script>
$('select').change(function(e) {
  $.ajax({
	url: '{{ server }}index.php?route=admin/onlineshop/pieseauto.write&user_token={{ user_token }}&product_category=' +  encodeURIComponent(e.target.name) + '&pieseauto_category_id=' +  encodeURIComponent(e.target.value)
  });
});
</script>